body {
    color : #DCD3C3;
    background-color: #18121E;
    font-family: 'Roboto', sans-serif;
    border-radius:0px;
}
#main, .main {

    background-color: #233237;

    border-style:solid;
    border-color:#DCD3C3;
    border-width:1px;

    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

colored, .colored a {
    color : #DCD3C3;
}
.header {
    margin-bottom:40px;
}
.search {
    margin:10px;
    vertical-align:bottom !important;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }
.bot5 {margin-bottom:5px;}
.bot10 {margin-bottom:10px;}
.bot20 {margin-bottom:20px;}
.left10{margin-left:10px;}
.left5{margin-left:5px;}
.right10{margin-right:10px;}
/*.right5{margin-right:5.05px;}*/

#leagueDropdown{
    margin-top:10px;
    margin-left:15px;
    color:black;
    height:42px;
    width:200px;
    font-size: 140%;
}
#searchButton{
    background-color:#DCD3C3;
}
.black {
    color:black;
}

.alert {
    margin-bottom :0px;
    margin-right : -15px;
    margin-left : -15px;
}
* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.btnToLink {
    background:none!important;
    color:inherit;
    border:none;
    font: inherit;
    cursor: pointer;
}

tbody.itemBody{

}
.itemPanel{
    width:100%;
    margin-top : 10px;
    background-color: #18121E;
    margin-bottom : 0 !important;
}
.implicitModsList{
    position:relative;
}
.craftedModsList{
    color:#E6D5FF;
}

h5 {
    font-size: 25px;
}



h5, h6 {
    width: 50%;
    height: 60px;
    margin: 0;
    padding: 0;
    display: inline;
}
h6 {
    margin-right:10px !important;
    font-size: 16px;
}
.flexBottom {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.flexBottom span, button{
    padding-top:10px;
    margin-right:30px;
}
.flexBottom button{
    padding-top:9px;
}
.borderDiv {
    border-bottom:1px solid;
    width:50%;
}
.f14{
    font-size:14px;
}
.f16{
    font-size:16px;
}
.smallInfo{
    color:grey;
    margin-top:-15px;
}

.corrupted{
    color:red;
    font-size:16px;
}
.minmax input{
    width:50px;
    margin-right:1px;
    position:relative;
}
.minmaxHeader{
    position:absolute;
    margin-bottom:15px;
    top:-40px;
    left:0px;
    font-size:17px;
}

FormGroup{
    margin-right:10px;
}
.layout.vertical {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.layout.horizontal, .layout.vertical {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex, .flex-1 {
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
}
.icon-wrap{
    width:100px;
}

.sockets {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    display:block;
}
.socket {
    height: 47px;
    width: 47px;
    float: left;
}
.socket-right {
    float:right;
}
.socket-G {
    background-image: url(//web.poecdn.com/gen/image/YTozOntpOjA7aTo1O2k6/MjthOjM6e3M6Mjoic3Qi/O3M6MDoiIjtzOjY6ImNv/bG91ciI7czoxOiJHIjtz/OjE6InMiO2Q6MC42MDg1/MTkyNjk3NzY4NzYzMTt9/aToxO2k6MTM7fQ,,/16d9a0bec9/Socket.png);
}
.socket-I {
    background-image: url(//web.poecdn.com/gen/image/YTozOntpOjA7aTo1O2k6/MjthOjM6e3M6Mjoic3Qi/O3M6MDoiIjtzOjY6ImNv/bG91ciI7czoxOiJJIjtz/OjE6InMiO2Q6MC42MDg1/MTkyNjk3NzY4NzYzMTt9/aToxO2k6MTM7fQ,,/cbddce2542/Socket.png);
}
.socket-D {
    background-image: url(//web.poecdn.com/gen/image/YTozOntpOjA7aTo1O2k6/MjthOjM6e3M6Mjoic3Qi/O3M6MDoiIjtzOjY6ImNv/bG91ciI7czoxOiJEIjtz/OjE6InMiO2Q6MC42MDg1/MTkyNjk3NzY4NzYzMTt9/aToxO2k6MTM7fQ,,/dab7154ddd/Socket.png);
}
.socket-S {
    background-image: url(//web.poecdn.com/gen/image/YTozOntpOjA7aTo1O2k6/MjthOjM6e3M6Mjoic3Qi/O3M6MDoiIjtzOjY6ImNv/bG91ciI7czoxOiJTIjtz/OjE6InMiO2Q6MC42MDg1/MTkyNjk3NzY4NzYzMTt9/aToxO2k6MTM7fQ,,/2dc1283e63/Socket.png);
}
.socket-link0 {
    left: 28.60041px;
    top: 16.12576px;
}
.socket-link1 {
    left: 28.60041px;
    top: 16.12576px;
}
.socket-link2 {
    left: 28.60041px;
    top: 63.59026px;
}
.socket-link4 {
    left: 28.60041px;
    top: 111.05477px;
}
.item-width1 .socket-link1, .socket-link3 {
    top: 76.06491px;
}
.item-width1 .socket-link0, .socket-link1 {
    left: 63.59026px;
    top: 28.60041px;
}
.horizontal-link, .socket-link0, .socket-link2, .socket-link4 {
    width: 37.72819px;
    height: 15.21298px;
    background-image: url(//web.poecdn.com/gen/image/YTozOntpOjA7aTo1O2k6/MjthOjM6e3M6NDoidHlw/ZSI7czo2OiJzb2NrZXQi/O3M6Mjoic3QiO3M6NDoi/bGluayI7czo0OiJ2ZXJ0/IjtiOjA7fWk6MTtpOjEz/O30,/88e64a4f5d/Socket_Link_Horizontal.png);
}
.verticalLink, .item-width1 .socket-link0, .socket-link1, .socket-link3, .item-width1 .socket-link2 {
    width: 14px;
    height: 37.72819px;
    background-image: url(//web.poecdn.com/gen/image/YTozOntpOjA7aTo1O2k6/MjthOjM6e3M6NDoidHlw/ZSI7czo2OiJzb2NrZXQi/O3M6Mjoic3QiO3M6NDoi/bGluayI7czo0OiJ2ZXJ0/IjtiOjE7fWk6MTtpOjEz/O30,/e74ea91157/Socket_Link_Vertical.png);
}
.socket-link {
    position: absolute;
}
.item-width1 .socket-link1, .item-width1 .socket-link2, .socket-link3, .item-width1 .socket-link0 {
    left: 16.12576px;
}
.item-width2 {
    min-width: 94px;
}
.item-height4 {
    min-height: 188px;
}
.item-heigth3{
    min-height:141px;
}
.item-width2{
    min-width:94px;
}
.item-width1 {
    min-width: 47px;
}
.item-width1 .right5{
    margin:0 !important;
}

h5.item.itemframe2 {
    color: #f4e842 !important;
}
h5.item.itemframe3 {
    color: #af6025 !important;
}
h5.item.itemframe1 {
    color: #5050EB !important;
}
h5.item.itemframe4 {
    color: #1ba29b !important;
}
